.QOverlay {
	z-index: 9999;
	background: url('images/siab-logo.png') no-repeat center center;
	background-color: #222;
}

.QLoader {
	background-color: #CCCCCC;
	height: 2px;
	-moz-box-shadow: 1px 1px 10px #111;
	-webkit-box-shadow: 1px 1px 10px #111;
	box-shadow: 1px 1px 10px #111;
}